/*
body {
	background: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Avenir', sans-serif;
}

.btn {
	background-color: #FFB90F;/
	color: white;
	
}

.header {
	height: 200px;
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
*/
